@font-face {
    font-family: 'Outfit';
    src: url(../fonts/Outfit-Light.ttf);
}
@font-face {
    font-family: 'Aubrey';
    src: url(../fonts/Aubrey.ttf);
}
@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins/Poppins-Regular.ttf);
}
body {
    margin: 0;
    background-color: white;
}
.screen {
    width: 100vw;
    display: block;
    text-align: center;
}
.navbar {
    display: flex;
    width: 70vw;
    height: 100px;
    align-items: center;
    justify-content: center;
    background-color: lavender;
    padding-left: 15%;
    padding-right: 15%;
}
.nav-options {
    display: flex;
    width: 55vw;
    height: 40px;
    align-items: center;
    justify-content: right;
}
.nav-logo {
    display: flex;
    width: 25vw;
    height: 40px;
    align-items: center;
    justify-content: left;
}
#logo {
    display: block;
    width: 40px;
}
.button {
    display: block;
    font-family: Poppins;
    color: #101769;
    text-align: center;
    text-decoration: none;
    font-size: 26px;
    margin-left: 3vw;
    border-bottom: 2px solid;
    border-color: lavender;
}
.button:hover {
    color: #535895;
    border-bottom: 2px solid;
}

/* Body styles */
.content-block{
    display: block;
    width: 70vw;
    height: 300vh;
    padding-left: 15%;
    padding-right: 15%;
}
.intro-content {
    width: 70vw;
    height: 860px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.right-block {
    height: 860px;
    width: 35vw;
    display: block;
}
.left-block {
    height: 860px;
    width: 35vw;
    text-align: left;
}
.description-box {
    display: flex;
    width: 500px;
    text-align: left;
}
#intro-text {
    font-size: 88px;
    font-family: Aubrey;
    color: black;
    animation: transitionIn 1s;
    padding-top: 280px;
    padding-bottom: 40px;
}
#intro-subtext {
    font-size: 26px;
    font-family: Poppins;
    color: black;
    animation: transitionIn 1s;
}
#caption {
    font-size: 20px;
    font-family: Poppins;
    color: black;
    animation: transitionIn 1s;
    padding-left: 20%;
}
#plant-img {
    max-width: 80%;
    max-height: 90%;
    animation: transitionIn 1s;
    padding-top: 100px;
    padding-left: 20%;
}
.about-me-content {
    display: flex;
    width: 70vw;
    background-color: black;
}
#lab-img {
    max-width: 38%;
    height: auto;
    animation: transitionIn 1s;
    position: absolute;
    z-index: 1;
}
#guitar-img {
    display: block;
    max-width: 30%;
    height: auto;
    object-fit: contain;
    animation: transitionIn 1s;
    position: absolute;
    z-index: 2;
    margin-left: 20%;
    margin-top: 34%;
}
.about-me-block {
    display: block;
    height: 30vw;
    width: 25vw;
    background-color: lavender;
    z-index: 3;
    opacity: 0.8;
    margin-top: 10%;
    margin-left: 40%;
    position: absolute;
    padding: 2.5%;
    text-align: left;
    display: inline;
}
#header {
    font-size: 4.5em;
    font-family: Aubrey;
    color: black;
    animation: transitionIn 1s;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 7%;
}
.body-text {
    font-size: 1.15vw;
    font-family: Poppins;
    color: black;
    animation: transitionIn 1s;
    
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(-50deg);
    }
    to {
        opacity: 1;
        transform: rotateX(0);
    }
}


@media only screen and (max-width: 600px) {
  
    #caption {
        font-size: 14px;
        font-family: Poppins;
        color: black;
        animation: transitionIn 1s;
    }
    .descriptionBox {
        display: block;
        width: 340px;
        text-align: center;
        margin: auto;
    }
}


@media only screen and (min-width: 601px) and (max-width: 768px) {
    .contentBlock{
        display: block;
        height: 200vh;
        width: 100vw;
    }
    .introContent {
        height: 90vh;
        width: 100vw;
        display: block;
    }
    .rightBlock {
        height: 90vh;
        width: 100vw;
        display: block;
    }
    .leftBlock {
        height: 50vh;
        width: 100vw;
        display: block;
        text-align: center;
    }
    .descriptionBox {
        display: flex;
        width: 50vh;
        text-align: center;
        margin: auto;
    }
    #introText {
        font-size: 9vh;
        font-family: Aubrey;
        color: black;
        animation: transitionIn 1s;
        padding-top: 20vh;
    }
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
    .contentBlock{
        display: block;
        height: 200vh;
        width: 100vw;
    }
    .introContent {
        height: 90vh;
        width: 100vw;
        display: block;
    }
    .rightBlock {
        height: 90vh;
        width: 100vw;
        display: block;
    }
    .leftBlock {
        height: 50vh;
        width: 100vw;
        display: block;
        text-align: center;
    }
    #introText {
        font-size: 9vh;
        font-family: Aubrey;
        color: black;
        animation: transitionIn 1s;
        padding-top: 20vh;
    }
    .descriptionBox {
        display: block;
        width: 340px;
        justify-content: center;
        text-align: center;
        margin: auto;
    }
}

@media only screen and (min-width: 993px) and (max-width: 1200px) {
    .contentBlock{
        display: block;
        height: 200vh;
        width: 100vw;
    }
    .introContent {
        height: 90vh;
        width: 100vw;
        display: block;
    }
    .rightBlock {
        height: 90vh;
        width: 100vw;
        display: block;
    }
    .leftBlock {
        height: 50vh;
        width: 100vw;
        display: block;
        text-align: center;
    }
    #introText {
        font-size: 9vh;
        font-family: Aubrey;
        color: black;
        animation: transitionIn 1s;
        padding-top: 20vh;
    }
    .descriptionBox {
        display: block;
        width: 50vh;
        justify-content: center;
        text-align: center;
        margin: auto;
    }
}
@media only screen and (min-width: 2000px) {
    .introContent {
        width: 70vw;
        height: 1100px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .rightBlock {
        height: 1100px;
        width: 35vw;
        display: block;
    }
    .leftBlock {
        height: 1100px;
        width: 35vw;
        text-align: left;
    }
    #introText {
        font-size: 120px;
        font-family: Aubrey;
        color: black;
        animation: transitionIn 1s;
        padding-top: 400px;
        padding-bottom: 40px;
    }
    #introSubText {
        font-size: 30px;
        font-family: Poppins;
        color: black;
        animation: transitionIn 1s;
    }
    #caption {
        font-size: 25px;
        font-family: Poppins;
        color: black;
        animation: transitionIn 1s;
        padding-left: 20%;
    }
    .descriptionBox {
        display: flex;
        width: 700px;
        text-align: left;
    }
}