html {  
    scroll-behavior: smooth;  
}
@font-face {
    font-family: 'Outfit';
    src: url(fonts/Outfit-Light.ttf);
}
@font-face {
    font-family: 'Aubrey';
    src: url(fonts/Aubrey.ttf);
}
@font-face {
    font-family: 'Poppins';
    src: url(fonts/Poppins/Poppins-Regular.ttf);
}
body {
    margin: 0;
    background-color: white;
    z-index: 1;
}
.screen {
    display: block;
    text-align: center;
}
.navbar {
    display: flex;
    width: 70vw;
    height: 60px;
    align-items: center;
    justify-content: center;
    background-color: lavender;
    padding-left: 15%;
    padding-right: 15%;
    position: fixed;
    z-index: 4;
}
.nav-options {
    display: flex;
    width: 55vw;
    height: 40px;
    align-items: center;
    justify-content: right;
}
.nav-logo {
    display: flex;
    width: 25vw;
    height: 40px;
    align-items: center;
    justify-content: left;
}
#logo {
    display: block;
    width: 25px;
}
.button {
    display: block;
    font-family: Poppins;
    color: #101769;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    margin-left: 3vw;
    border-bottom: 2px solid;
    border-color: lavender;
}
.button:hover {
    color: #757cc9;
    border-bottom: 2px solid;
    font-weight: bold;
}

/* Body styles */
.content-block{
    display: block;
}
.intro-content {
    width: 70vw;
    height: 840px;
    display: flex;
    padding-top: 60px;
    padding-bottom: 32px;
    align-items: center;
    justify-content: center;
    margin-left: 15vw;
    margin-right: 15vw;
}
.right-block {
    height: 840px;
    width: 35vw;
    display: block;
    align-items: center;
    animation: transitionIn 1s;
}
.left-block {
    height: 840px;
    width: 35vw;
    text-align: left;
}
.description-box {
    display: flex;
    width: 500px;
    text-align: left;
}
#intro-text {
    font-size: 88px;
    font-family: Aubrey;
    color: black;
    padding-top: 280px;
    padding-bottom: 40px;
}
#intro-subtext {
    font-size: 24px;
    font-family: Poppins;
    color: black;
}
#caption {
    font-size: 20px;
    font-family: Poppins;
    color: black;
    padding-left: 20%;

}
#plant-img {
    max-width: 80%;
    max-height: 90%;
    padding-top: 100px;
    padding-left: 20%;
    animation: transitionIn 1s;
}
.about-me-block {
    display: flex;
    width: 70vw;
    height: 65vw;
    padding-top: 60px;
    margin-left: 15vw;
    margin-right: 15vw;
}
#lab-img {
    max-width: 38%;
    height: auto;
    position: absolute;
    z-index: 1;
}
#guitar-img {
    display: block;
    max-width: 28.5%;
    height: auto;
    object-fit: contain;
    position: absolute;
    z-index: 2;
    margin-left: 20%;
    margin-top: 34%;
}
.about-me-content {
    display: block;
    height: 30vw;
    width: 25vw;
    background-color: lavender;
    z-index: 3;
    opacity: 0.8;
    margin-top: 10%;
    margin-left: 40%;
    position: absolute;
    padding: 2.5%;
    text-align: left;
    display: inline;
}
#header {
    font-size: 4.5em;
    font-family: Aubrey;
    color: black;
    margin-top: 4%;
    margin-bottom: 4%;
}
.body-text {
    font-size: 1.15vw;
    font-family: Poppins;
    color: black;
}
.projects-block {
    background-color: #a6ace0;
    height: 100vw;
    margin: auto;
}
.filler {
    height: 1px;
    padding-top: 59px;
    background-color: white;
}
.projects-row {
    display: flex;
    width: 70vw;
    height: 27vw;
    padding-bottom: 4%;
    justify-content: space-between;
    margin-left: 15vw;
    margin-right: 15vw;
}
.project-container {
    display: block;
    width: 19vw;
    height: auto;
    background-color: white;
    border: 1.5px solid #101769;
    border-radius: 20px;
    padding-right: 2%;
    padding-left: 2%;
    padding-bottom: 2%;
    padding-top: 1%;
    transition: transform 0.3s ease;
}
.project-container:hover {
    box-shadow: 12px 12px 12px #101769;
    transform: rotate(2deg) scale(1.01);
}
.project-upper {
    display: flex;
    text-align: left;
    align-items: center;
    height: 5vw;
    margin-bottom: 5%;
    border-bottom: 1.5px solid #101769;
    transition: transform 0.3s ease;
}
#project-logo {
    display: block;
    width: 35px;
    margin-right: 19px;
    transition: transform 0.2s ease;
}
#project-logo:hover {
    transform: scale(1.08);
}
#project-title {
    font-size: 16px;
    font-family: Poppins;
    color: black;
}
#project-title:hover {
    color: #757cc9;
}
#project-image {
    width: 100%;
    height: 12vw;
    border-radius: 20px;
    border: 1.5px solid #101769;
}
#project-text {
    font-size: 0.85em;
    font-family: Poppins;
    color: #101769;
    text-align: left;
}
.experiences-block {
    display: block;
    height: 10vw;
    text-align: left;
}
.contact-block {
    display: block;
    width: 70vw;
    text-align: left;
    margin-left: 15vw;
    margin-right: 15vw;
    margin-top: 5%;
    margin-bottom: 5%;
}
.footer {
    height: 10vw;
    background-color: lavender;
}
#footer-text {
    font-size: 1.15vw;
    font-family: Poppins;
    color: black;
    padding-top: 5%;
    font-weight: bold;
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(-50deg);
    }
    to {
        opacity: 1;
        transform: rotateX(0);
    }
}


@media only screen and (max-width: 600px) {
  
}

@media only screen and (min-width: 601px) and (max-width: 768px) {
   
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
  
}

@media only screen and (min-width: 993px) and (max-width: 1200px) {
    
}
@media only screen and (min-width: 2000px) {
   
}